header{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
body{
    background-image: url("../images/light-grey-terrazzo.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
h1{
    font-family: 'Times New Roman';
}
div{
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue";
    color: #777777;
}
img{
    width: 300px;
    height: 300px;
}
#your_name{
    position: fixed;
    background-color: #4aaaa5;
    color: white;
    width: 250px;
    text-align: center;
    top: 0;
    padding: 15px,5px,15px,5px;
    left: 200px; 
    z-index: 1;
}
nav{
    position: fixed;
    float: left;
    font-size: 18px;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height:80px;
    background-color: #ffffff;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    border-style: solid;
   
}
a{
    text-decoration: none;
    color: #777777;
    opacity: .75;
}
#about{
    position: relative;
    float: left;
    left: 975px;
    top: 30px;
  
}
#portfolio{
    position: relative;
    float: left;
    left: 1025px;   
    top: 30px;
}
#contact{
    position: relative;
    float: left;
    left: 1075px; 
    top: 30px;
   
}
#container{
    background-image: url("/Users/phillipgrider/Desktop/Bootcamp/02-Homework/Basic-Portfolio/assets/images/light-grey-terrazzo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    color: #4aaaa5;
    padding: 20px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    border-style: solid;
}
#small_box{
    position: absolute;
    top: 120px;
    left: 300px;
    background-color: #ffffff;
    margin: auto;
    width: 918px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: #cccccc;

    border-style: solid;
    padding: 20px;
}
#image{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
}
p.space{
    line-height: 1.8;
    padding: 5px;
    opacity: .75;
}
footer{
    position: absolute;
    bottom: 0%;
    left: 0;
    background-color: #666666;
    width: 100%;
    height: 60px;
    text-align:center;

}
#footer_box{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #4aaaa5;
}
#copyright{
    position: relative;
    bottom: -45px;
    color: white;
    font-size: 8px;
}


